<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <h1 style="color:red"> This is demo app by Ganesh Patra </h1>

</body>
</html>
