<!DOCTYPE html>
<html>
<head>
  <title>Node Js app</title>
  <style>
    body {background-color: #cf9529;}
    h1   {color: black; padding:100px}
    p    {color: red;}
  </style>
  </style>
</head>

<body>

<center><h1> This is demo NodeJs app by Ganesh Patra hosted on Heroku</h1></center>

</body>
</html>
